%h1
  Bribery App

#container
  %form{:action => "/run", :method => :post, :name => :the_form}
    %p
      %label Enter the politician name
      %input{:type => :text, :name => "names[]"}
      %span.remove Remove


    %span.add Add More Politician

    %p
      %input{:type => :submit, :value => "Find It"}
