!!!
%html
  %title CloudFactory App
  %link{:rel => "stylesheet", :type=> "text/css", :href => "/style.css"}

  %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"}
  %script{:type => "text/javascript", :src => "/app.js"}

  %body
    = yield
