%h2
  Results
%p
  %ol
    - @got_result.each do |result|
      %li
        %b
          = result.meta_data['name']
        Received
        %b
          "
          = result.final_outputs.last.amount
          "
        from Bribery
        %br
        %br
%p
  %a{:href => "/"}Go Back to Home